

*{
    margin: 0;
    padding: 0%;
    
}

.p_text1{
    color: red;
}

.p_text2{
    color: green;
}
.p_text3{
    color: blue!important;
    text-align: left!important;
}
.p_text3{
    color: aquamarine;
    text-align: center
}